		/* css normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}b,strong,optgroup{font-weight:700;}pre,textarea{overflow:auto;}button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0;}input:focus, input:hover, textarea:focus, textarea:hover { outline: none;}textarea {resize:none;}

		/* clearfix */
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

		/* border box */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

img {
	max-width:100%;
}

body{
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, 'Oxygen', sans-serif;
	padding: 10%;
}

.show {
	display: block;
}

.content {
	border: 3px solid rgba(0, 180, 204, 0.7);
	padding: 3%;	
	max-width: 600px;
	border-radius: 2px;
	margin: 0 auto;
}
h1, h2, h3, p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, 'Oxygen', sans-serif;
	font-weight: 500;
}
h1, h2, h3, p.error{
	display: none;
}
h3 {
	margin-bottom: 0;
}
form {
	margin: 25px auto;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
form.result {
	margin-top: 0;
}
input {
	font-size: 18px;
	margin: 0;
	border-radius: 2px;
	padding: 7px;
	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue", Helvetica, 'Oxygen', sans-serif;
	display: block;
	border:1px solid rgba(0, 180, 204, 0.7);
}
input[type="text"] {
	float: left;
	width: 80%;
	&:focus {
		outline: none;
	}
}

input[type="submit"] {
	float: left;
	background: rgb(0, 180, 204);
	width: 19%;
	color:white;
	margin-left: 1%;
	&:focus {
		outline:none;
	}
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.2);
	padding: 12%;
	.modal {
		padding: 20px;
		position: relative;
		max-width: 560px;
		height: 225px;
		background: white;
		margin: 0 auto;
		border-radius: 3px;
		box-shadow: 0 0 10px rgba(255,255,255,0.1);
		border: 3px solid rgb(253, 240, 146);
		p.alert {
			font-size: 24px;
		}
		span.close {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 15px;
		}
	}
}